# Python
venv/
__pycache__/
*.pyc

# Node.js
node_modules/

# OS files
.DS_Store
Thumbs.db

# AWS / SSH Keys
*.pem
*.ppk

# Logs
*.log

# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup

# Environment files
.env
